<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.dende.simpletimesheet" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:name=".SimpleTimesheetApplication">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ProjectActivity"
            android:label="@string/title_activity_project"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.dende.simpletimesheet.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.dende.simpletimesheet.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.ExportActivity"
            android:label="@string/title_activity_export"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobi.dende.simpletimesheet.ui.MainActivity" />
        </activity>

        <provider
            android:name=".data.TimesheetProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

    </application>

</manifest>
